#include "resource.h"
#include <winresrc.h>

// Manifest
IDR_MANIFEST RT_MANIFEST "app.manifest"

// Version info
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "obott9"
            VALUE "FileDescription",  "File Tab Opener"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "FileTabOpenerW"
            VALUE "OriginalFilename", "FileTabOpenerW.exe"
            VALUE "ProductName",      "File Tab Opener"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
